@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import '../../styles/variables';

.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.author {
  font-family: 'Shadows Into Light', cursive, serif;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.text {
  font-family: @font-sunny;
  font-size: 24px;
}

.getQuote {
  background: black;
  border: 0px;
  color: #f7c315;
  font-size: 17px;
  vertical-align: middle;
}

.social {
  background: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  vertical-align: middle;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

@media @small {
  .content {
    max-width: 590px;
  }
}
