@font-face {
  font-family: 'Textile';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Textile/textile-regular.ttf');
  src: local('Textile-Regular'), url('/fonts/Textile/textile-regular.ttf?#iefix') format('truetype'),
}
