<!DOCTYPE html>
<html lang="en" class="sunny">
  <head>
    {{> meta}}
    <title>It's Always Sunny in Philadelphia Quotes | RDP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <div class="page">
    <header class="header">
      <h1 class="title">It's Always Sunny in Philadelphia Quote Generator</h1>
    </header>
    <body>
      {{{body}}}
      <script src="/js/bundle.js"></script>
    </body>
    <footer>
      <div class="footerContainer">
        <div class="columnFooter">
            <span>Developed by RDP</a></span>
          </div>
          <div class="columnFooter">
            <ul class="socialMedia">
              <span>Connect&nbsp;With&nbsp;Me:</span>
              <li class="socialIcon">
                <a href="https://github.com/RDP07">
                  <img
                    src="images/icon-github.png" alt="RDP on GitHub" />
                </a>
              </li>
              <li class="socialIcon">
                <a href="https://www.linkedin.com/in/rossdupaw/">
                  <img
                    src="images/icon-linkedin@2x.png" alt="RDP on LinkedIn" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
  </div>
</html>
